<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/home/pydsuperu/Projets/tuto_flask_blog2/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/home/pydsuperu/Projets/tuto_flask_blog2/node_modules/bootstrap/dist/css/custom.css">


    <title>Hello, CabWill</title>
</head>

<body>
    <h1>Level1header Hello, Willerzie</h1>
    <h3>Level3header try scss - should be cyan from custom[s]css</h3>
    <h4>Level4header try scss</h4>


</body>

</html>
