<!doctype html>
<html lang="fr">

<head>
    {% block head %}
    <title>{% block mytitle %}- °(base's default) block title° Flaskr{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='LTF_2021a.css') }}"> {% endblock %}
</head>

<body>
    <nav>
        <h1>nav :</h1> (from BaseTPL)
        <ul>
            <li><span>blaaaasssss</span>
                <li><a>bleeeeeeekkkkkkkkkkk</a>
        </ul>
    </nav>

second nav
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('justindex')}}">FlaskBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create')}}">New Post</a>
            </li>
            </ul>
        </div>
    </nav>


    <p>justparamplace : {{justparamplace}} - - - </p>


    <p>the typeof MLB_team variable is : {% if MLB_team %} {{type(MLB_team)}} {% else %} [ unavailable info :-/ ] {% endif %}
    </p>

    <section class="content">
        <header>
            <h1> {{ self.title() }}-- header H1 suffix, hardcoded from base</h1>
            global parent header just before child's content block <br/> self.title() : coded in base but var coming from justindex(self)
        </header>

        <div id="content" class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block content %} and here the (base's default) content {% endblock %}
        </div>
    </section>
    <hr>
    <div id="sectionfooter">
        {% include 'justwebsite1/sectionfooter.html' %}
    </div>
    <div id="globfooter">
        {% block globfooter %} &copy; Copyright 2021 by <a href="http://domain.invalid/">Lienterfaces / PYD</a>. {% endblock %}
    </div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
